@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600");
@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore");
@import url("https://fonts.googleapis.com/css?family=Exo:700,800");

:root {
  --container-margin: 80px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  margin-left: var(--container-margin);
  margin-right: var(--container-margin);
  background-color: #2b3237;
}

h1,
p {
  font-family: "Exo", sans-serif;
  color: #ffffff;
}

h3 {
  color: #d8be68;
  font-family: "Titillium Web", sans-serif;
  font-size: 11px;
  margin-left: 85px;
  font-weight: 400;
  margin-top: -20px;
  margin-bottom: 30px;
  letter-spacing: 3px;
}

#logoContainer {
  position: relative;
  display: flex;
  align-items: center;
}

#pbLogo {
  font-size: 40px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo {
  display: block;
  margin-left: 40px;
  width: 60px;
  height: auto;
}

#contentContainer {
  margin-top: 50px;
}

.text-container {
  padding-bottom: 20px;
}

.left-container,
.right-container {
  height: 300px;
  color: #ffffff;
  box-sizing: border-box;
}

.left-container {
  width: 55%;
  float: left;
  padding-right: 20px;
}

.right-container {
  width: 45%;
  float: left;
}

@media (max-width: 768px) {
  h3 {
    text-align: center;
    margin-left: 0px;
  }
  .text-container {
    text-align: center;
  }

  .left-container,
  .right-container {
    height: 200px;
    width: 100%;
    float: none;
  }
  .left-container {
    padding-right: 0px;
  }

  :root {
    --container-margin: 10px;
  }
}

#GithubContainer {
  padding: 20px;
  color: #ffffff;
  height: 300px;
}

body ::selection {
  background: #d8be68;
}

.MovingText .blast {
  opacity: 0;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.MovingText .blast:hover {
  color: #68b4d8;
}
